/* 
font-family: 'Allura', cursive;
font-family: 'Raleway', sans-serif;
font-family: 'Roboto Slab', serif;
*/
:root {
  --pink: #f14e95;
  --bg: #0a0a0a;
  --shadow: 0 2px 2px rgba(0, 0, 0, 0.7);
}

body {
  font-family: "Raleway", sans-serif;
  font-size: 1.2rem;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../img/wedding-2.jpg);
  background-size: cover;
  background-position: center;
  z-index: -1;
  filter: saturate(0.7);
}

.hero {
  position: relative;
  min-height: 100vh;
}

.hero h1,
.hero h4,
.hero p {
  text-shadow: var(--shadow);
}

.hero h1 {
  font-family: "Allura", cursive;
  font-size: 6rem;
}

.hero h4 {
  font-size: 1.5rem;
}

.hero p {
  font-size: 1.4rem;
}

.hero a {
  color: var(--pink);
  background-color: white;
  box-shadow: var(--shadow);
}

.hero a:hover {
  color: white;
  background-color: var(--pink);
}

/* Navbar */
.mynavbar {
  background-color: rgba(255, 255, 255, 0.3) !important;
  backdrop-filter: blur(4px);
}
.mynavbar .offcanvas {
  height: 100vh;
}
.mynavbar .navbar-brand,
.mynavbar .offcanvas-title {
  font-family: "Allura", cursive;
  font-size: 3rem;
  font-weight: 300;
}
.mynavbar .nav-link {
  text-transform: uppercase;
}

/* Home */
.home {
  min-height: 100vh;
  margin-top: -6rem;
  padding-top: 10rem;
  padding-bottom: 8rem;
}
.home h2 {
  color: var(--pink);
  font-family: "Allura", cursive;
  font-weight: bold;
  font-size: 5rem;
}
.home h3 {
  color: #444;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.home p {
  font-size: 1.1rem;
  color: #666;
}

/* Couple */

.home .couple {
  margin-top: 70px;
}
.home .couple h3 {
  font-family: "Allura", cursive;
  font-size: 2.4rem;
  color: var(--pink);
}
.home .couple img {
  width: 100%;
  height: 80%;
}
.home .heart {
  width: 50px;
  height: 50px;
  background-color: rgb(255, 255, 255);
  display: flex;
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 50%;
  transform: translateX(-50%) translateY(65px);
}
.home .heart i {
  margin: auto;
  color: var(--pink);
}

/* Info */
.info {
  background-color: var(--bg);
  color: white;
  padding-top: 7rem;
  padding-bottom: 7rem;
}
.info h2 {
  color: var(--pink);
  font-family: "Allura", cursive;
  font-size: 5rem;
  font-weight: bold;
}
.info .alamat {
  font-size: 1.1rem;
}
.info .description {
  font-size: 1rem;
  font-weight: 300;
}

/* Card */
.info .card {
  background-color: rgba(255, 255, 255, 0.2) !important;
  color: white !important;
  border: 1px solid #999;
}
.info .card-header {
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  border-bottom: 1px solid #999;
}
.info .card-body {
  font-size: 1rem;
}
.info .card-footer {
  font-size: 1rem;
  border-top: 1px solid #999;
  font-weight: 300;
}

/* Story */
.story {
  padding-top: 8rem;
  padding-bottom: 6rem;
}

.story span,
.gallery span,
.gifts span {
  text-transform: uppercase;
  color: #666;
  font-size: 0.9rem;
  letter-spacing: 1px;
  display: block;
  margin-bottom: 1rem;
}

.story h2,
.gallery h2,
.rsvp h2,
.gifts h2 {
  color: var(--pink);
  font-family: "Allura", cursive;
  font-size: 5rem;
  font-weight: bold;
}

.story p,
.gallery p,
.rsvp p,
.gifts p {
  font-size: 1rem;
  font-weight: 300;
}

.timeline {
  list-style: none;
  padding: 1.4rem 0;
  margin-top: 1rem;
  position: relative;
}

.timeline::before {
  content: "";
  top: 0;
  bottom: 0;
  position: absolute;
  width: 1px;
  background-color: #ccc;
  left: 50%;
}

.timeline li {
  margin-bottom: 1.5rem;
  position: relative;
}

.timeline li::before,
.timeline li::after {
  content: "";
  display: table;
}

.timeline li::after {
  clear: both;
}

.timeline li .timeline-image {
  width: 160px;
  height: 160px;
  background-color: #ccc;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.timeline li .timeline-panel {
  width: 40%;
  float: left;
  border: 1px solid #ccc;
  padding: 2rem;
  position: relative;
  border-radius: 5px;
  background-color: #fff;
}

.timeline li .timeline-panel::before {
  content: "";
  position: absolute;
  display: inline-block;
  border-top: 15px solid transparent;
  border-left: 15px solid #ccc;
  border-right: 0 solid #ccc;
  border-bottom: 15px solid transparent;
  top: 80px;
  right: -15px;
}

.timeline li .timeline-panel::after {
  content: "";
  position: absolute;
  display: inline-block;
  border-top: 14px solid transparent;
  border-left: 14px solid #fff;
  border-right: 0 solid #fff;
  border-bottom: 14px solid transparent;
  top: 81px;
  right: -13px;
}

.timeline li.timeline-inverted .timeline-panel {
  float: right;
}

.timeline li.timeline-inverted .timeline-panel::before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}
.timeline li.timeline-inverted .timeline-panel::after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -13px;
  right: auto;
}

/* Gallery */

.gallery {
  background-color: #f5f5f5;
  padding-bottom: 6rem;
}

/* RSVP */
.rsvp {
  background-color: var(--bg);
  padding-top: 7rem;
  padding-bottom: 7rem;
}
.rsvp h2 {
  font-size: 4.5rem;
}
.rsvp p {
  margin-top: 5px;
  margin-bottom: 5px;
  color: white;
}
.rsvp form label {
  color: white;
}
.rsvp button {
  background-color: var(--pink);
  color: white;
  border: 1px solid var(--pink);
  margin-top: 23px;
}
.rsvp button:hover {
  background-color: white;
  color: var(--pink);
}

/* Gifts */
.gifts {
  background-color: #f5f5f5;
  padding-top: 7rem;
  padding-bottom: 7rem;
}

/* footer */
footer {
  padding: 3rem;
  background-color: var(--bg);
  color: white;
}
footer a {
  color: var(--pink);
  font-weight: bold;
  text-decoration: none;
}
footer a:hover {
  color: white;
}
footer li {
  list-style: none;
  display: inline;
  margin: 0.5rem;
}

/* Responsive Breakpoint */

@media (max-width: 1200px) {
  .home .heart {
    transform: translateX(-50%) translateY(80px);
  }
}

@media (max-width: 992px) {
  html {
    font-size: 75%;
  }
  .simply-countdown > .simply-section {
    padding: 50px;
  }
  .mynavbar .nav-link {
    font-size: 2rem;
    text-align: center;
  }

  .mynavbar .offcanvas-body a {
    font-size: 100% !important;
  }

  .sticky-top {
    overflow: hidden;
  }

  .home .heart {
    display: none;
  }

  .timeline::before {
    left: 60px;
  }
  .timeline li .timeline-image {
    left: 15px;
    margin-left: 45px;
    top: 16px;
  }
  .timeline li .timeline-panel {
    width: calc(100% - 200px);
    float: right;
  }
  .timeline li .timeline-panel::before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
  }
  .timeline li .timeline-panel::after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -13px;
    right: auto;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 65%;
  }
  .simply-countdown > .simply-section {
    padding: 45px;
    margin: 5px;
  }
  .timeline li .timeline-image {
    width: 140px;
    height: 140px;
  }
}

@media (max-width: 576px) {
  html {
    font-size: 60%;
  }
  .simply-countdown > .simply-section {
    padding: 40px;
    margin: 3px;
  }

  .timeline li .timeline-image {
    width: 100px;
    height: 100px;
  }

  .timeline li .timeline-panel {
    width: 65%;
    transform: translateX(-10px);
  }
  .timeline li .timeline-panel::before {
    top: 30px;
  }
  .timeline li .timeline-panel::after {
    top: 31px;
  }
}
